body {
    background-color: purple;
}
.board {
    display:grid;
    grid-template: repeat(3, 150px)/ repeat(3,150px);
}

.tile {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    align-items: center;
}
.playO {
    background-color: black;
    color: white;
    font-size: 90px;
}
.playX {
    background-color: white;
    color: red;
    font-size: 90px;
}
.restart {
    display: flex;
    
}