body {
    background-color: purple;
}
.board {
    display:grid;
    grid-template: repeat(3, 150px)/ repeat(3,150px);
}

.tile {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    align-items: center;
}